<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>3M胶带|工业胶带|双面胶带|高温胶带|导电胶带|胶带生产厂家|东莞市昌贸实业有限公司</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="" />
<!-- Facebook and Twitter integration 
<meta property="og:title" content=""/>
<meta property="og:image" content=""/>
<meta property="og:url" content=""/>
<meta property="og:site_name" content=""/>
<meta property="og:description" content=""/>-->
<meta name="title" content="3M胶带|工业胶带|双面胶带|高温胶带|导电胶带|胶带生产厂家" />
<meta name="keywords" content="3M胶带|工业胶带|双面胶带|高温胶带|导电胶带|胶带" />
<meta name="author" content="东莞市昌贸实业有限公司" />
<meta name="description" content="昌贸实业有限公司是一家专业生产销售工业胶带、电子胶粘制品的企业。">

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<link rel="shortcut icon" href="favicon.ico">

<link href='https://fonts.useso.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>

<!-- Animate.css -->
<link rel="stylesheet" href="source/css/animate.css">

<!-- Magnific Popup -->
<link rel="stylesheet" href="source/css/magnific-popup.css">
<!-- Bootstrap  -->
<link rel="stylesheet" href="source/css/bootstrap.css">
<!-- Icomoon Icon Fonts-->
<link rel="stylesheet" href="source/css/icomoon.css">
<!-- Theme style  -->
<link rel="stylesheet" href="source/css/style.css">

<!-- Modernizr JS -->
<script src="source/js/modernizr-2.6.2.min.js"></script>
<!-- FOR IE9 below -->
<!--[if lt IE 9]>
<script src="js/respond.min.js"></script>
<![endif]-->

</head>
<body>

<div id="fh5co-wrap">
	<header id="fh5co-header">
		<div class="container">
			<nav class="fh5co-main-nav">
				<ul>
					<li class="fh5co-active"><a href="#"><span>首页</span></a></li>
					
					<li><a href="#product"><span>产品展示</span></a></li>
					<li><a href="#show"><span>厂貌展示</span></a></li>
					<li><a href="#contact-us"><span>联系我们</span></a></li>

					<li><a href="#contact-us"><span>在线留言</span></a></li>
					<li><a href="#guanyu"><span>关于我们</span></a></li>
				</ul>
			</nav>
		</div>
	</header>
	

	<div class="fh5co-hero" style="background-image: url(source/images/hero_4.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
					<div class="fh5co-intro fh5co-table-cell">
					<!--<h1 class="text-center">合作| 因胶粘而紧密| 因胶粘而恒久 </h1>-->
						<h3>合作 | 因胶粘而紧密 | 因胶粘而恒久 </h3>
						<p>东莞昌贸实业一家专业生产销售工业胶带，电子胶粘制品的企业<a href="http://"></a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
		<!--show pictrue-->

	<section class="section-padding gray-bg">
		<div class="container" id="show">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							<h2>厂貌展示</h2>
						
						</div>
					</div>
				</div>

			<div class="row service-v1 margin-bottom-40">
            	<div class="col-md-4 md-margin-bottom-40">
              	 <img class="img-responsive" src="source/images/20130710150601180.jpg" alt="">   
                	<h3></h3>
                	<p>保持力测试仪</p>        
            	</div>
            	<div class="col-md-4 md-margin-bottom-40">
                	<img class="img-responsive" src="source/images/20130710150712765.jpg" alt="">            
                	<h3></h3>
                	<p>涂布线</p>        
            	</div>
            	<div class="col-md-4 md-margin-bottom-40">
              		<img class="img-responsive" src="source/images/20130710150422247.jpg" alt="">  
                	<h3></h3>
                	<p>裁切机</p>        
            	</div>
			</div>
			<div class="row service-v1 margin-bottom-40">
			    	<div class="col-md-4 md-margin-bottom-40">
               			<img class="img-responsive" src="source/images/20130710150638803.jpg" alt="">   
                		<h3></h3>
                		<p>仓库一角</p>        
            		</div>
            		<div class="col-md-4 md-margin-bottom-40">
                		<img class="img-responsive" src="source/images/20130710151005464.jpg" alt="">            
                		<h3></h3>
                		<p>无尘车间走廊</p>        
            		</div>
            		<div class="col-md-4 md-margin-bottom-40">
              			<img class="img-responsive" src="source/images/20130710151528678.jpg" alt="">  
                		<h3></h3>
                		<p>粘着里测试仪</p>        
            		</div>
        	</div>
		</div>
	</section>

			
			<!--新样式-->

			

	<section id="about" class="row">
		<div class="page about-content">
			<div class="col about-title">
					<h3 data-100="-webkit-transform: translateX(100px); opacity:0;"
						data-500="-webkit-transform: translateX(0px); opacity:1;">
						产品展示
					</h3>
			</div>
			<div class="col empty">&nbsp;</div>
			<div class="col empty">&nbsp;</div>
		</div>
	</section>
			<!---->
			<!-- 往后排 -->

<div class="about-w3ls" id="about">
	
	<!--two 放在最前面-->
		<div class="container" id="product">
			<h4 class="title-w3"></h4>
			<div class="about-left-agileits">
				<label></label>
				<span class="sub"></span>
				<h5 class="sub-title">防水泡棉双面胶</h5>
					<p class="para-w3">PE泡棉双面胶 超薄PE泡棉系列双面胶带，
					即微小独立气泡之特殊聚乙烯发泡体，
					采用具有高度切断粘着力的粘着剂，并且采用薄型的发泡体基材，
					兼顾薄型化及柔软性，
					相较于不织布以及薄膜更能发挥优良冲击吸收力，
					防水性及防尘性。。
					</p>
				<label class="right"></label>
			</div>
			<div class="about-right-agileinfo">
				<img src="source/images/20130607091423205.jpg" alt="Aboutus image" class="img-thumbnail">
			</div>
			<div class="clearfix"></div>
		</div>
	<!--two-->


	<!--three-->
	<div class="container">
			<h4 class="title-w3"></h4>
			<div class="about-left-agileits">
				<label></label>
				<span class="sub"></span>
				<h5 class="sub-title">亚克力泡棉</h5>
					<p class="para-w3">特点：
							抗震性、抗拉性、缓冲性优秀
							高粘性、附着性优秀 
							可以取代铆钉、螺丝及其它机械式固定 
							不仅可以密封隔绝潮气及多数溶剂，可更长期抗紫外线及冷热回圈 
							无卤素，符合ROSH环保要求 <br>
							用途： 
							用于汽车边饰条、前饰条、后饰条、门槛条、角位防撞条、后护板、不锈钢油箱饰盖、踏板、门外拉手 
							汽车和摩托车标牌 
							汽车配件、安全玻璃的复合等的粘贴固定 
							用在空调器、办公家具、通讯产品的粘接，可以取代螺钉、柳钉等传统固定方法 
					</p>
				<label class="right"></label>
			</div>
			<div class="about-right-agileinfo">
			<!--20130607091456903.jpg-->
				<img src="source/images/WechatIMG20.jpg" alt="Aboutus image" class="img-thumbnail">
			</div>
			<div class="clearfix"></div>
	</div>
	<!--three-->

	

	<!--five-->
	<div class="container">
			<h4 class="title-w3"></h4>
			<div class="about-left-agileits">
				<label></label>
				<span class="sub"></span>
				<h5 class="sub-title">高粘双面胶</h5>
					<p class="para-w3">用途:<br>适用于铭牌、塑胶、薄膜开关的粘贴和电子铭板，产品组装粘着等领域，对金属、塑料、泡沫等粘附体有良好的粘合力，具有性能稳定，易于加工等优点；可在低温至高温的广泛温度范围内使用。 <br>
    				
					</p>
				<label class="right"></label>
			</div>
			<div class="about-right-agileinfo">
				<img src="source/images/20130607091930658.jpg" alt="Aboutus image" class="img-thumbnail">
			</div>
			<div class="clearfix"></div>
	</div>
	<!--five-->

	<!--six-->
	<div class="container">
		<h4 class="title-w3"></h4>
			<div class="about-left-agileits">
				<label></label>
				<span class="sub"></span>
				<h5 class="sub-title">进口胶带</h5>
					<p class="para-w3">本公司代理各种进口双面胶、单面胶：3M、德莎、索尼、日东等胶带
					</p>
				<label class="right"></label>
			</div>
			<div class="about-right-agileinfo">
				<img src="source/images/20130607092301129.jpg" alt="Aboutus image" class="img-thumbnail">
			</div>
			<div class="clearfix"></div>
	</div>
	<!--six-->

	<!--seven-->
	<div class="container">
		<h4 class="title-w3"></h4>
			<div class="about-left-agileits">
				<label></label>
				<span class="sub"></span>
				<h5 class="sub-title">遮光胶</h5>
					<p class="para-w3">耐压泡棉和另一面涂有强力丙烯酸胶粘剂的薄膜基材覆合、吸音、抗震、密封，方便粘结于各种表面，主要应用于汽车内外元部件的固定和连接。
					</p>
				<label class="right"></label>
			</div>
			<div class="about-right-agileinfo">
				<img src="source/images/20130607091746282.jpg" alt="Aboutus image" class="img-thumbnail">
			</div>
			<div class="clearfix"></div>
	</div>
	<!--seven-->
	<!--egight-->
	<div class="container">
		<h4 class="title-w3"></h4>
			<div class="about-left-agileits">
				<label></label>
				<span class="sub"></span>
				<h5 class="sub-title">双面胶</h5>
					<p class="para-w3">
								适用于铭牌、塑胶、薄膜开关的粘贴和电子铭板，产品组装粘着等领域，对金属、塑料、泡沫等粘附体有良好的粘合力，具有性能稳定，易于加工等优点；可在低温至高温的广泛温度范围内使用。
					</p>
					<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h4>about yep</h4>
								</div>
							</div>
						</div>
					</div>
				<label class="right"></label>
			</div>
			<div class="about-right-agileinfo">
				<img src="source/images/20130607091536650.jpg" alt="Aboutus image" class="img-thumbnail">
			</div>
			<div class="clearfix"></div>
	</div>
	<!--egieht-->

	<!--放在最下面-->
	<div class="container">
		<h4 class="title-w3"></h4>
			<div class="about-left-agileits">
				<label></label>
				<span class="sub"></span>
				<h5 class="sub-title">泡棉双面胶</h5>
					<p class="para-w3">耐压泡棉和另一面涂有强力丙烯酸胶粘剂的薄膜基材覆合、吸音、抗震、密封，方便粘结于各种表面，主要应用于汽车内外元部件的固定和连接。
					</p>
				<label class="right"></label>
			</div>
			<div class="about-right-agileinfo">
				<img src="source/images/20130607091627401.jpg" alt="Aboutus image" class="img-thumbnail">
			</div>
			<div class="clearfix"></div>
	</div>
	<!--four-->

	<div class="container">
		<h4 class="title-w3"></h4>
			<div class="about-left-agileits">
				<label></label>
				<span class="sub"></span>
				<h5 class="sub-title">铜箔</h5>
					<p class="para-w3">铜箔胶带是用软态紫铜表面涂有亚克力压敏胶粘剂加工而成，此种金属薄片表面光泽，具有良好的坚韧性、延伸性。
    									此材料复贴离型纸依据客户要求可加工成单面、双面及夹芯层铜箔胶带，以供客户模切加工。 
										该产品具有优良的导通与屏蔽效果。 
										该产品广泛应用于电子电器行业，如：手机、笔记本电脑、开关变压器、LCD起防EMI/RFI电磁波屏蔽作用。
					</p>
				<label class="right"></label>
			</div>
			<div class="about-right-agileinfo">
				<img src="source/images/20130607091713657.jpg" alt="Aboutus image" class="img-thumbnail">
			</div>
			<div class="clearfix"></div>
	</div>
</div>

			<!--隔开-->
			<hr>
			<!---->


	<!--about me-->
	<section id="about" class="row" style="background-color: #f3f3f3;">
		<div class="page about-content" id="guanyu">
			<div class="col about-title">
				<h3 data-100="-webkit-transform: translateX(100px); opacity:0;"
					data-500="-webkit-transform: translateX(0px); opacity:1;">
						关于我们
					</h3>
			</div>
			<div class="col empty">&nbsp;</div>
			<div class="col about-description">
				<p
					data-100="opacity:0;"
					data-500="opacity:1;"
				>昌贸实业有限公司是一家专业生产销售工业胶带、电子胶粘制品的企业。<br>公司成立于2002年坐落在高端科技制造业基地--东莞市。<br>公司以“科技创新、品质第一、诚实守信、和谐共赢”为理念，以“客户至上”为宗旨。<br>不断推出适应市场需求的胶粘制品和技术方案，得到客户及同业人士的支持和好评。<br>
昌贸实业目前主要经营产品有：工业双面胶、单面胶、高粘、高温、可移双面胶、防水泡棉、亚克力泡棉等泡棉双面胶，导电布双面胶、铜箔、铝箔、全方位导电泡棉胶、导热双面胶、散热泡棉胶、散热石墨等散热材料、LED/LCD/TP专用：PET双面胶、黑白胶、泡棉胶、背胶内衬、毛毡、魔术贴等胶带、特种、进口双面胶等。<br>
代理经销3M、SONY、NITTO、TESA等进口品牌胶带和国产品牌胶带。<br>
并为客户提供冲切成型、贴合、分切等加工服务。</p>
			</div>
			<div class="col empty">&nbsp;</div>
		</div>
	</section>

	<hr>
	<!---->

	<!--联系我们-->
	<section id="contact" class="row">
		<div class="contact-content page" id="contact-us">
			<div class="col contact-title">
				<h3 data-100="-webkit-transform: translateX(100px); opacity:0;"
					data-500="-webkit-transform: translateX(0px); opacity:1;">
						联系方式
					</h3>
			</div>
			<div class="col empty">&nbsp;</div>
			<div class="col contact-description">
				<p
					data-100="opacity:0;"
					data-500="opacity:1;"
				></p>
						<p>东莞市昌贸实业有限公司</p>

						<p>电　话：0769-82812333、82813222、23052169</p>
						<p>传　真：0769-23052140</p>
						<p>联系人：孔先生　姜先生</p>
						<p>手　机：13926865236  13600259196</p>
						<p>邮  箱：sd196@cm-tape.com、sd196@dgcmsy.com</p>
						<p>地　址：广东省东莞市寮步镇翠华街25号</p>
			</div>
			<div class="col empty">&nbsp;</div>
		</div>
	</section>

	<!--旧联系样式-->

	<div class="fh5co-section" id="contact">


			<!--<div class="container">
				<div class="row">
					<div class="col-md-8">
						<h2>联系方式</h2>
						<p>东莞市昌贸实业有限公司</p>

						<p>电　话：0769-23052169、82812333</p>
						<p>传　真：0769-23052140</p>
						<p>联系人：孔先生　姜先生</p>
						<p>手　机：13926865236  13600259196</p>
						<p>邮  箱：sd196@cm-tape.com</p>
						<p>地　址：广东省东莞市寮步镇良平大道溢华工业大厦C栋</p>
					</div>
				</div>
			</div>-->
	</div>
	<!---->

</div>

<!-- END fh5co-wrap -->


<footer id="fh5co-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h3>关于我们</h3>
				<p>东莞昌贸实业一家专业生产销售工业胶带，电子胶粘制品的企业</p>
			</div>
			<div class="col-md-3 col-md-push-1">
				<h3>相关链接</h3>
				<ul>
					<li><a href="#guanyu">关于我们</a></li>
					<li><a href="#product">产品展示</a></li>
					<li><a href="#contact-us">联系我们</a></li>
					<li><a href="#about">厂貌展示</a></li>
					<li><a href="#contact-us">在线留言</a></li>
				</ul>
			</div>
			<div class="col-md-3 col-md-push-1">
				<h3>关注我们</h3>
				<ul class="fh5co-social">
				<!--<i class="icon-twitter"></i>-->
					<li><a href="http://mp.weixin.qq.com/mp/getmasssendmsg?__biz=MzI2OTA3MzY2NA==#wechat_webview_type=1&wechat_redirect"><span>微信公众号</span></a></li>
					<li><a href="http://weibo.com/6052908128/profile?topnav=1&wvr=6&is_all=1" target="_blank"><span>微博</span></a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 fh5co-copyright text-center">
				<p>Copyright &copy; 2016.东莞昌贸实业.<!--<a target="_blank" href="#">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>--></p>
			</div>
		</div>
	</div>
</footer>

<!-- jQuery -->
<script src="source/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="source/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="source/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="source/js/jquery.waypoints.min.js"></script>
<!-- Stellar -->
<script src="source/js/jquery.stellar.min.js"></script>
<!-- MAIN JS -->
<script src="source/js/main.js"></script>

</body>
</html>

